.top{
    width: 100%;
    height: 65px;
    background-color: #f0f8ff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.topLeft{
    flex: 3;
    display: flex;
    align-items: center;
    margin-left: 6%;
    font-size: 25px;
}

.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "JetBrains Mono",Monaco,Menlo,monospace;
    font-weight: 400;
    font-size: 80%;
    margin-right: 6%;
}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #30303b;
    cursor: pointer;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 40px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.resumeLink {
    padding: 12px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;    
    text-decoration: none;
    color:white;
    border-radius: 20px;
    background-color: #1d262a;
}

.nameTitle {
    background-image: linear-gradient(165deg, #1d262a, #a9b7c0 );
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}